<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hnguigu.mapper.DModuleMapper" >

  <!-- 映射规则-->
  <resultMap id="dModuleMap" type="DModule">
<!--    <id property="" column=""></id>-->
<!--    <result property="" column=""></result>-->
  </resultMap>

</mapper>